body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
}
#header{
   
    height: 120px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
}
.center{
    width: 75%;
    margin: 0px auto;
}
.clearfix{
    clear: both;
    float: none;
}
#logo{
    /* background-color: wheat; */
    width: 30%;
    float: left;
    font-size: 30px;
    margin-top: 30px;
}
#logo img{
    width: 60px;
    height: 60px;
    display: block;
    float: left;   
    margin-top: -5px;

    animation-name:rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#brand{
    display: block;
    margin: 0;
    float: left;
    margin-left: 5px;
}
#menu{
    width: 70%;
    float: right;
    font-size: 18px;
}
#menu ul{
    line-height: 85px;
    width: 70%;
    float: right;
}
#menu ul li{
    display: inline-block;
    list-style: none;
    height: 45px;
    margin-right: 15px;
    margin-left: 15px;
}
#menu a{
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}
#menu a:hover{
    color: #40ccf3;
}

#slider{
    
    width: 100%;
    height: 350px;
    color: white;
    text-shadow: 1px 0px 5px #444;

    /* css gradient generator */
    background: rgba(192,216,232,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(192,216,232,1) 0%, rgba(76,213,250,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(192,216,232,1)), color-stop(100%, rgba(76,213,250,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(192,216,232,1) 0%, rgba(76,213,250,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(192,216,232,1) 0%, rgba(76,213,250,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(192,216,232,1) 0%, rgba(76,213,250,1) 100%);
    background: radial-gradient(ellipse at center, rgba(192,216,232,1) 0%, rgba(76,213,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d8e8', endColorstr='#4cd5fa', GradientType=1 );
}

#slider h1{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 140px;
}

.button-white{ 
    display: inline-block;
    margin-top: 10px;    
    border:solid 2px #fff;
    background: transparent;
    color: #fff !important;
	cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    /* font-size: 12px; */
    /* line-height: 19px; */
    text-shadow: 0px 0px 0px #444;
    text-transform: uppercase;
    letter-spacing: 3px;
    -webkit-transition: all .4s ease-in-out;
       -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
         -o-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
}
.button-white:hover{
    border:solid 2px #fff;
    background: #fff;
    color: #40ccf3 !important;
}

#slider.slider-small{
    height: 150px;
}
#slider.slider-small h1{
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 50px;
}

#content{
    width: 70%;
    float: left;
    min-height: 650px;
    margin-right: 20px;
}

#sidebar{
    width: 25%;
    float: left;
}

.sidebar-item{
    background-color: #f7f7f7;
    padding: 30px;
    margin-top: 30px;
}
.sidebar-item h3{
    text-transform: uppercase ;
    font-size:  17px;
    margin: 0;
    border-bottom:#ccc 2px solid;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.sidebar-item .btn{
    margin: 0px auto;
}

.btn{
    display: block;
    margin-top: 10px !important;
    max-width: 120px;
    text-decoration: none;
    background-color: black ;
    color: white;
    padding:15px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border:none;
    cursor: pointer;
}
.btn-success{
    background-color: green ;
}
.btn-success:hover{
    background-color: black ;
    transition: 200ms all;
}

input[type="text"]{
    width: 100%;
    height: 30px;
    border: rgb(224, 224, 224) 1px solid;
    margin-bottom: 5px;
}



#footer {
    background-color: #f7f7f7;
    width: 100%;
    color: grey;
    line-height: 40px;
    height: 40px;
}
#footer p{
    margin: 0;
}
@keyframes rotate{

    100%{
      transform:rotate(360deg);
    }
  }


